footer{
    border-top: 3px solid white;
    margin-bottom: 20px;
    background-color: black;
    margin: 0px;
}

footer h2{
    font-size: 30px;
    margin: 30px 10px;
}

li{
    padding-left: 10px;
    padding-bottom: 20px;
}

ul li::marker{
    content: "⮞ ";
    color: red;
}

footer a:active{
    color: #FF0000;
    padding: 2px
}