body{
    font-family: sans-serif;
    margin: 0;
    background-color: #1a1e23;
    color: white;
}

header{
    display: flex;
    background-color: black;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.icon{
    display: flex;
    align-items: center;
}

.icon img{
  height: 50px;
  margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: cyan;
}

@media (max-width:700px){
    header{
        flex-direction: column;
        height: 100px;
    }

    nav{
        padding: 10px 0px;
    }
    iframe{
        height: 100%;
    }
}

main{
    padding: 10px;
}

.card{
    width: 330px;
    height: 900px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.card1{
    background-image: url(hollow-knight.jpg);
}

.card2{
    background-image: url(Boss.jpg)
}

.card:hover{
    transform: translateY(-10px);
}

.reproductor{
    height: 50vh;
    margin: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.referencias{
    color:rgb(255, 187, 0);
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
  }

p{
    margin: 10px;
    font-size: 20px;
}

h5{
    font-size: 30px;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: brown;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.caja{
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}

.mapa {
    margin: auto;
    cursor: pointer;
}

.mapa:hover {
    transform: scale(7.1);
}

table{
    margin: 0 auto;
}